body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-image: url('public/dev.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #060612;
}
i {
  opacity: 75%;
  text-shadow: 4px 4px 4px #000000;
}
h1, h2 {
  opacity: 90%;
  color: #f13b3b;
}
button {
  border: none;
  border-radius: 5px;
  background-color: #FF0000;
  color: #ffffff;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary h1 {
  font-size: 5rem;
  color: #f13b3b;
  text-shadow: 0 0 4px #FF0000;
}
.summary h4 {
  color: #f1797993;
  padding-bottom: 2rem;
  text-shadow: 2px 2px 4px #000000;
}
.contact {
  padding: 2rem;
}
.contact a {
  padding: 1em;
  opacity: 95%;
  color: inherit;
  text-decoration: none;
}
.contact a:hover {
  color: #ff0000;
}
.contact a img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  color: #ffffff;
  align-items: center;
  width: 0.75rem;
}
.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.profile img {
  width: 1rem;
}
.project, .card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: #eaeaea;
  color: #060612;
  box-shadow: 0 4px 8px 0 rgba(226, 226, 226, 0.2), 10px 4px 8px 0 rgba(255, 255, 255, 0.055);
}
.project {
  margin: 1rem;
  width: 400px;
  padding-bottom: 1rem;
}
.project h2,
.project p,
.project h4,
.project a {
  padding-left: 1rem;
}
.banner {
  opacity: 100%;
  width: 100%;
}
.card {
  border-radius: 15px;
  border: 1px solid #eaeaea;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}
.card:hover,
.card:focus,
.card:active {
  color: #171516;
  border-color: #2e3e61;
}
.project h2 {
  margin: 0 0 1rem 0;
}
.project p {
  margin: 0;
}
.link {
  display: flex;
}
.link a {
  text-decoration: none;
}
.link a:hover {
  color: #3b5998;
}
.link img {
  padding-left: 2px;
  width: 1rem;
}
.link img, 
.link a {
  color: #007bb6;
  justify-self: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f13b3b; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

@media (max-width: 600px) {
  body {
    margin-top: 1vh;
  }
  .summary h1 {
    font-size: 4rem;
  }
  .grid {
    width: 100%;
  }
  .summary {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact {
    padding: 1rem;
  }
  .contact a {
    padding: 5px;
    opacity: 95%;
    text-decoration: none;
  }
  .contact a img {
    align-items: center;
  }
  .contact a:hover {
    background-color: #f13b3b;
    border-radius: 10px;
    color: inherit;
  }
  @media (max-width: 340px) {
    .contact {
      display: flex;
      align-items: center;
    }
  }
}
